includes:
    - %rootDir%/../../../phpstan.neon.dist

parameters:
    reportUnmatchedIgnoredErrors: false

    excludes_analyse:
        - %rootDir%/../../../src/Guzzle7ClientDecorator.php

    ignoreErrors:
        # False positives
        - '#PHPDoc tag @throws with type GuzzleHttp\\Exception\\GuzzleException is not subtype of Throwable#'
